* {
  --border-color: #c5c3c3;
  --logo-color: #04809e;
  --links-color: #0a66b2;
  --title-color: #5a5555;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
}

header {
  min-width: 100%;
  max-width: 1920px;
  height: 4rem;
  font-weight: bold;
  box-sizing: border-box;
  border-bottom: 1px solid var(--border-color);
  padding-left: 1rem;
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: left;
  font-family: "Bruno Ace SC", cursive;
}
header a {
  text-decoration: none;
  color: var(--logo-color);
}

main {
  box-sizing: border-box;
  min-width: 100%;
  min-height: 90vh;
  margin: 0;
  padding: 0.5rem 2rem 2rem 2rem;
  font-family: Arial, Helvetica, sans-serif;
}
main nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
main nav ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  list-style: none;
  font-size: larger;
}

ul a,
#logout {
  text-decoration: none;
  color: var(--links-color);
}
ul a:hover,
#logout:hover {
  text-decoration: underline;
  color: var(--logo-color);
}

.home-page-members {
  background-color: white;
  max-width: 60%;
  margin: 1rem auto;
  min-height: 80vh;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  color: gray;
}

/*signup form */
.signup,
.signin,
.password-create {
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: auto;
  margin-top: 3rem;
  color: #706e6e;
  border-radius: 0.3rem;
  border: 1px solid #c5c3c3;
  padding: 1rem 2rem;
}
.signup h1,
.signin h1 {
  align-self: center;
}

.signup form,
.signin form,
.password-create form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: large;
  color: #333;
}
.form-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}
.form-item input {
  padding: 0.2rem 0.4rem;
  font-size: large;
}
.signup form label,
.signin form label,
.password-create form label {
  display: inline-block;
  width: 8rem;
  text-align: right;
}

.form-submit {
  max-width: 6rem;
  align-self: center;
  font-weight: bold;
  font-size: large;
  padding: 0.2rem 0.4rem;
}
.errors {
  color: #5c1c1c;
}

/* all footers */
footer {
  box-sizing: border-box;
  width: 100%;
  min-height: 10rem;
  background-color: var(--logo-color);
  color: white;
  text-align: center;
}
footer a {
  text-decoration: none;
  color: inherit;
}

/*email verification */
.email-verification {
  max-width: 20rem;
  margin: auto;
  font-size: large;
}
.email-verification form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.verification {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: larger;
}
.email-verification dt,
.email-verification dd {
  color: #a10404;
}
.email-verification input {
  padding: 0.2rem 0.3rem;
}
.email-verification button {
  font-weight: bold;
}

/* welcome */
.content {
  margin: auto;
  max-width: 30rem;
}
.content a {
  font-size: larger;
}

/* user Page */
h1.messages {
  width: 100;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: gray;
}

.informations-container {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
}
section .messages {
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  max-width: 70%;
  min-height: 100%;
  border-top-right-radius: 0.3rem;
  border-top-left-radius: 0.3rem;
  border-top: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}
.new-message {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}
.new-message img {
  margin: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
}
.new-message form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.new-message form button {
  max-height: 2rem;
  font-size: medium;
  cursor: pointer;
  background-color: var(--links-color);
  color: white;
  border-radius: 0.2rem;
}
.new-message form textarea {
  padding: 0.2rem 0.4rem;
}
.user-info {
  box-sizing: border-box;
  max-width: 10rem;
  max-height: 20rem;
  padding: 0.5rem 0.7rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}
.user-info a,
.member-request a {
  color: var(--links-color);
}
.user-info a:hover,
.member-request a:hover {
  color: var(--logo-color);
}

.user-info img {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
}
.user-info dl {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.user-info dd {
  margin: 0;
  padding: 0;
  word-break: break-all;
}
.member-request {
  max-width: 4rem;
  font-weight: bold;
}

nav button,
.avatar-nav a {
  font-size: medium;
  border: none;
  background-color: none;
  color: var(--links-color);
  cursor: pointer;
}
nav button:hover,
.avatar-nav a:hover {
  text-decoration: underline;
  color: var(--logo-color);
}
/* membership request */
.membership {
  max-width: 50%;
  margin: auto;
  margin-top: 2rem;
  text-align: center;
}
.membership section input {
  height: 1.4rem;
  width: 1.4rem;
}
.membership button {
  align-self: center;
  width: 4rem;
  padding: 0.2rem 0.4rem;
  font-size: medium;
}
.membership form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

/* posted message */
.message {
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  width: 100%;
}
.message img {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
}
.message h2 {
  font-size: small;
  margin: 0;
  word-wrap: break-word;
}
.message .header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}
.message p {
  word-wrap: break-word;
}
/* user profile page */
main.profile {
  background-image: url("/images/ach.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.profile-page {
  box-sizing: border-box;
  padding: 1rem 0.6rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  max-width: 70%;
  margin: auto;
  overflow-wrap: break-word;
}
.profile-page h1 {
  color: var(--title-color);
}
.profile-page .profile {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.profile-page .profile a {
  align-self: flex-end;
}
.details dl {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--title-color);
}
.details strong {
  color: black;
}
.details dd {
  margin-left: 3rem;
}

.profile img {
  max-height: 15rem;
  max-width: 10rem;
}
.profile-nav {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.profile-nav a {
  text-decoration: none;
  color: var(--links-color);
}

.profile-nav a:hover {
  color: var(--logo-color);
  text-decoration: underline;
}

/* avatars  change */
section.avatars-section {
  max-width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}
section.avatars-section h1 {
  color: var(--title-color);
}
.current-avatar {
  max-height: 15rem;
  max-width: 15rem;
}
.avatars {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem 0.5rem;
  gap: 1rem;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}
.avatars img {
  max-height: 3rem;
  max-width: 3rem;
  border-radius: 100%;
  cursor: pointer;
}
.avatars img:hover {
  transform: scale(1.2);
}
.avatars img.selected {
  border: 1px solid var(--logo-color);
  transform: scale(1.2);
}
.avatars button {
  max-width: 6rem;
  max-height: 3rem;
  background-color: var(--logo-color);
  color: white;
  border-radius: 0.2rem;
  padding: 0.2rem 0.4rem;
  font-weight: bold;
}
.avatar-nav a {
  text-decoration: none;
}
/* responsiveness */
@media (max-width: 500px) {
  header {
    height: 2rem;
    font-size: small;
  }
  h1 {
    font-size: medium;
  }
  nav ul li {
    font-size: small;
  }
  .home-page-members {
    max-width: 80%;
  }
  .signup input,
  .signin input,
  .password-create input {
    width: 100%;
  }
  .signup,
  .signin {
    font-size: small;
  }
  .signup form label,
  .signin form label {
    text-align: center;
  }

  /* user page */
  section {
    font-size: medium;
  }
  .informations-container {
    position: relative;
    gap: 2rem;
  }
  .member-request {
    position: absolute;
    top: 0;
    left: 0;
    font-size: small;
  }
  section .messages {
    font-size: small;
    max-width: 100%;
  }
  .user-info {
    font-size: small;
  }

  .membership {
    max-width: 100%;
    margin-top: 1.4rem;
  }

  /*profile page */
  .profile-page {
    max-width: 100%;
  }
  .details dd {
    margin-left: 0.5rem;
  }
  /* avatars  change */
  section.avatars-section {
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  .avatars img {
    max-height: 2rem;
    max-width: 2rem;
  }
}
