extends layout 
block suite 
    main 
        nav.admin-credentials 
            a(href="/user/page") Dashboard 
        section.admin-credentials-body
            h1  Admin Name and Password 
            form(action="" method="POST") 
                .form-item  
                    label(for="adminName") Admin Name
                    input(type="text" required  id="adminName" autoComplete="on") 
                .form-item 
                    label(for="adminPass") Admin Password 
                    input(type="password" required  id="adminPass") 
                button.form-submit(type="submit") Log In