extends layout 
block suite 
    main 
        section.email-verification 
            h1 Email verification 
            p Verify your emails and enter the code you've received in the field below
            form(action="" method='POST')
                .code 
                    label(for="code") Code 
                    .verification 
                        input(type="number" required id='code' name='code' autofocus)  
                        button Confirm  
                if error 
                    dt Error
                        dd= error 
