extends layout 
block suite 
    main 
        nav 
            ul 
                a(href="")
                    li Sign Up  
                a(href="")
                    li Log In  
        section.home-page-members  
            h1 Members 
            .discussions 
    footer 
        a(href="") copyright essohanam &copy; 2023