extends layout 
block suite 
    main 
        nav 
            ul 
                a(href="/user/signup")
                    li Sign Up  
                a(href="/user/signin")
                    li Log In  
        section.home-page-members  
            h1 Members 
            .discussions 
    