extends layout
block suite
    main
        nav 
            a(href="/admin/page")  Admin Page
        section.message-to-del 
            dt(style="color:#0a66b2")= message.formatted_DateTime 
                dd!= message.message 
        section.deletion
            form(action="" method="POST")
                fieldset
                    legend Do you want to delete that  message  ?
                    section
                        input(type="radio" id="yes" name="choice" value="yes")
                        label(for="yes") Yes
                    section
                        input(type="radio" id="no" name="choice" value="no" checked)
                        label(for="no") No
                button(type="submit") Execute
