extends layout 
block suite 
    main 
        section.password-create 
            h1 Create a pseudo name  and password 
            form(action="" method='POST')
                .form-item 
                    label(for="pseudo") Pseudo
                    input(type="text" id = 'pseudo' name="pseudo" value = (user?user.pseudo:'') required placeholder="pseudo name")  
                .form-item 
                    label(for="password") Password 
                    input(type="password" id ="password" name="password" required  placeholder="password") 
                .form-item 
                    label(for="passConfirmation") Confirm 
                    input(type="password" required  id="passConfirmation" placeholder ="confirm password" name='passConfirmation') 
                if errors 
                    ul.errors 
                        each error in errors 
                            li= error.msg 

                button.form-submit  Save 