extends layout 
block suite 
    main 
        nav.user-page-nav
            form(action="/user/logout" method="POST")
                button(type="submit") Log Out           
        section.informations  
            .informations-container 
                aside.user-info
                    img(src="/", alt="profile")
                    dl 
                        dd= locals.user.pseudo
                .messages 
                     h1 Message board 
                if !user.isMember
                    aside.member-request 
                        a(href="/user/member") Become Member? 
    