extends layout 
block suite 
    main.requested-user 
        nav 
            a(href="/admin/page")  Admin Page 
        section.requested-user-info 
            h1= user.pseudo
            ul 
                each message in messages 
                    li
                        dt 
                            a(href="/requested/message/" + message._id+"/delete")= message.formatted_DateTime 
                        dd!= message.message  
            .buttons
                a(href="/requested/"+user._id +"/delete" ) Delete User
                a(href="/requested/"+user._id +"/messages/delete") Delete User messages 
