extends layout
block suite
    main
        section.deletion
            if userMessages.length>0
                p 
                |  User #[strong= userPseudo] has #[strong(style="color:#7e0e18")= userMessages.length +"  message(s)"]. You must Delete all his messages first. #{' '}
                a(href="/admin/page") Go to users   
                |   and delete #[strong= userPseudo] messages. 
            else 
                form(action="" method="POST")
                    fieldset
                        legend Do you realy want to delete  #{userPseudo}  ?
                        section
                            input(type="radio" id="yes" name="choice" value="yes")
                            label(for="yes") Yes
                        section
                            input(type="radio" id="no" name="choice" value="no" checked)
                            label(for="no") No
                    button(type="submit") Delete  #[strong= userPseudo]
