extends layout 
block  suite 
    main 
        .content 
            h1 weclome Dear achiever
            p.welcome 
                a(href="/user/signin") Sign In  
                | to you account  